# coding: utf-8

"""

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from douyin_open.ExternalDataPoiExternalDataPoi.api_client import ApiClient


class DataExternalPoiUserApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def data_external_poi_user_get(self, access_token, poi_id, date_type, **kwargs):  # noqa: E501
        """POI用户数据  # noqa: E501

        * Scope: `data.external.poi`   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.data_external_poi_user_get(access_token, poi_id, date_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str access_token: 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
        :param str poi_id: 抖音poi_id (required)
        :param int date_type: 近7/15/30天 (required)
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.data_external_poi_user_get_with_http_info(access_token, poi_id, date_type, **kwargs)  # noqa: E501
        else:
            (data) = self.data_external_poi_user_get_with_http_info(access_token, poi_id, date_type, **kwargs)  # noqa: E501
            return data

    def data_external_poi_user_get_with_http_info(self, access_token, poi_id, date_type, **kwargs):  # noqa: E501
        """POI用户数据  # noqa: E501

        * Scope: `data.external.poi`   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.data_external_poi_user_get_with_http_info(access_token, poi_id, date_type, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str access_token: 调用/oauth/client_token/生成的token，此token不需要用户授权。 (required)
        :param str poi_id: 抖音poi_id (required)
        :param int date_type: 近7/15/30天 (required)
        :return: InlineResponse2001
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['access_token', 'poi_id', 'date_type']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method data_external_poi_user_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'access_token' is set
        if ('access_token' not in params or
                params['access_token'] is None):
            raise ValueError("Missing the required parameter `access_token` when calling `data_external_poi_user_get`")  # noqa: E501
        # verify the required parameter 'poi_id' is set
        if ('poi_id' not in params or
                params['poi_id'] is None):
            raise ValueError("Missing the required parameter `poi_id` when calling `data_external_poi_user_get`")  # noqa: E501
        # verify the required parameter 'date_type' is set
        if ('date_type' not in params or
                params['date_type'] is None):
            raise ValueError("Missing the required parameter `date_type` when calling `data_external_poi_user_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'access_token' in params:
            query_params.append(('access_token', params['access_token']))  # noqa: E501
        if 'poi_id' in params:
            query_params.append(('poi_id', params['poi_id']))  # noqa: E501
        if 'date_type' in params:
            query_params.append(('date_type', params['date_type']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/data/external/poi/user/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse2001',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
