# coding: utf-8

"""
    团购活动详情

    No description provided (generated by Swagger Codegen https://github.com/swagger-api/swagger-codegen)  # noqa: E501

    OpenAPI spec version: 1.0.0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from douyin_open.EnterpriseGrouponGrouponGrouponDetail.api_client import ApiClient


class EnterpriseGrouponDetailApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def enterprise_groupon_detail_get(self, access_token, open_id, groupon_ids, **kwargs):  # noqa: E501
        """团购活动详情  # noqa: E501

        * Scope: `enterprise.groupon`   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.enterprise_groupon_detail_get(access_token, open_id, groupon_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str access_token: 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
        :param str open_id: 通过/oauth/access_token/获取，用户唯一标志 (required)
        :param list[str] groupon_ids: 团购活动的Id (required)
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.enterprise_groupon_detail_get_with_http_info(access_token, open_id, groupon_ids, **kwargs)  # noqa: E501
        else:
            (data) = self.enterprise_groupon_detail_get_with_http_info(access_token, open_id, groupon_ids, **kwargs)  # noqa: E501
            return data

    def enterprise_groupon_detail_get_with_http_info(self, access_token, open_id, groupon_ids, **kwargs):  # noqa: E501
        """团购活动详情  # noqa: E501

        * Scope: `enterprise.groupon`   # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.enterprise_groupon_detail_get_with_http_info(access_token, open_id, groupon_ids, async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param str access_token: 调用/oauth/access_token/生成的token，此token需要用户授权。 (required)
        :param str open_id: 通过/oauth/access_token/获取，用户唯一标志 (required)
        :param list[str] groupon_ids: 团购活动的Id (required)
        :return: InlineResponse200
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['access_token', 'open_id', 'groupon_ids']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method enterprise_groupon_detail_get" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter 'access_token' is set
        if ('access_token' not in params or
                params['access_token'] is None):
            raise ValueError("Missing the required parameter `access_token` when calling `enterprise_groupon_detail_get`")  # noqa: E501
        # verify the required parameter 'open_id' is set
        if ('open_id' not in params or
                params['open_id'] is None):
            raise ValueError("Missing the required parameter `open_id` when calling `enterprise_groupon_detail_get`")  # noqa: E501
        # verify the required parameter 'groupon_ids' is set
        if ('groupon_ids' not in params or
                params['groupon_ids'] is None):
            raise ValueError("Missing the required parameter `groupon_ids` when calling `enterprise_groupon_detail_get`")  # noqa: E501

        collection_formats = {}

        path_params = {}

        query_params = []
        if 'access_token' in params:
            query_params.append(('access_token', params['access_token']))  # noqa: E501
        if 'open_id' in params:
            query_params.append(('open_id', params['open_id']))  # noqa: E501
        if 'groupon_ids' in params:
            query_params.append(('groupon_ids', params['groupon_ids']))  # noqa: E501
            collection_formats['groupon_ids'] = 'multi'  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/enterprise/groupon/detail/', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type='InlineResponse200',  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
